language: php

php:
  - 7.0
  - 7.1
  - 7.3

before_script:
  - composer self-update
  - composer require satooshi/php-coveralls
  - composer install --prefer-source

script:
  - composer check-style
  - composer tests-ci

after_script:
 - php vendor/bin/coveralls -v

matrix:
  fast_finish: true

sudo: false

notifications:
  email:
    on_success: never
    on_failure: always

cache:
  directories:
    - $HOME/.composer/cache
